body{
    background-color: lightgray;
    text-align: center;
}
.main-grid{
    display: grid;
    grid-template-columns: 1fr 3fr;
    background-color: white;
    padding: 1.5%;
    width: 745px;
    margin: auto;
    margin-bottom: 1%;
    border: 1px solid black;
}
.nested-grid{
    display: grid;
    grid-template-columns: 2fr 1fr;
    text-align: left;
    padding: 3% 7%;
    background-color: rgb(177, 218, 252);
    margin-left: 3%;
    border: 1px solid darkgray;
}

.img-border{
    border: 1px solid darkgray;
}
img{
    padding: 4%;
    height: 175px;
}

.name{
    grid-row-start: 1;
    grid-row-end: 3;
    font-size: 18px;
    font-weight: bold;
}

.font1{
    text-align: left;
    padding-left: 2%;
}

.font2{
    text-align: right;
    padding-right: 2%;
}

.total-grid{
    padding: 2% 0%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    width: 750px;
    margin: auto;
}

.badge{
    height: 45px;
    width: 45px;
    background-color: darkgray;
    border-radius: 50%;
    text-decoration: black;
    font-weight: bolder;
    border: none;
}

.btn{
    padding: 1% 5%;
    background-color: rgb(177, 218, 252);
    margin-bottom: 3%;
}

#badge1, #badge2, #badge3{
    text-align: right;
}

.price{
    text-align: end;
    align-content: flex-end;
    font-size: 18px;
}

.rect{
    width: 800px;
    height: 7px;
}
.hidden{
    display: none;
}
.image{
    height: 120px;
}
span button{
    padding: 20px;
    margin: 10px;
    margin-top: 40px;
    font-size: 18px;
}
@media only screen and (max-width: 800px) {
    .main-grid{
        width: 95%;
    }
    .total-grid{
        width: 95%;
    }
    .rect{
        width: 100%;
        margin: auto;
    }
    img{
        height: 150px;
        width: 75px;
    }
    .name{
        font-size: 15px;
    }
    .price{
        font-size: 15px;
    }
    span button{
        padding: 10px;
        margin: 4px;
        margin-top: 40px;
        font-size: 16px;
    }
    .image{
        height: 80px;
        font-size: 15px;
    }
}

@media (hover: hover) {
    .nested-grid:hover{
        background-color:  rgb(66, 63, 63);
        border: none;
    }
    
    .nested-grid:hover .name{
        background-color: rgb(66, 63, 63);
        font-size: 0;
    }
    
    .nested-grid:hover #badge1,
    .nested-grid:hover #badge2,
    .nested-grid:hover #badge3,
    .nested-grid:hover .price{
        background-color: rgb(204, 44, 44);
        font-size: 0;
    }
    .nested-grid:hover .badge{
        display: none;
    }
    .nested-grid:hover .hidden{
        display: block;
        font-size: 18px;
        font-weight: bold;
        text-align: center;
    }
    
  }